.footerPC {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 0.5rem 1rem;
    padding-top: 0.4rem;
    background: var(--b4);
    background: rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(0.1rem);
}

a {
    color: white;
    text-decoration: none;
    cursor: pointer;
}

.mypc {
    font-size: 1.3rem;
    color: rgb(202, 202, 202);
}

.myname {
    font-size: 1rem;
}

.currTime {
    position: absolute;
    font-family: 'Pixelify Sans', sans-serif;
    top: 50%;
    right: 1rem;
    transform: translateY(-50%);
    font-size: 1.3rem;
}

.mainContent {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    /* background: rgba(255, 255, 255, 0.1); */
    height: calc(100vh - 5rem);
    z-index: 10;
    justify-content: space-between;
    align-items: start;
}

.leftCFolders {
    /* background: rgba(255, 255, 255, 0.596); */
    /* height: 100%; */
    padding: 1rem;
    flex-wrap: wrap;
    align-items: start;
    justify-content: start;
    width: 15rem;
    gap: 1rem;
}

.rightCFolders {
    width: fit-content;
}

.folderCard {
    /* background: red; */
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(0.1rem);
    padding: 0.2rem 0.4rem;
    border-radius: 0.5rem;
    border: 0.15rem solid rgba(255, 255, 255, 0.2);
    transition: 0.2s all ease-out;
    cursor: pointer;
    color: white;

}

.folderCard:nth-child(2)::after {
    /* box-shadow: 0 0 0.1rem 100rem grey; */
    /* z-index: 10; */
}

/* .folderCard:hover {
    background: rgba(255, 255, 255, 0.15);
    border: 0.15rem solid rgba(255, 255, 255, 0.25);
} */

/* .folderCard:focus {
    background: white;
} */
.selectedFCard {
    background: rgba(255, 255, 255, 0.3);
    border: 0.15rem solid rgba(255, 255, 255, 0.4);
    /* box-shadow: ; */
}


.folderI {
    width: 4rem;
    margin: 0 0.3rem;
    /* height: 5rem; */
}

.fullWC {
    justify-content: start;
    width: 100%;
}

.myFolder {
    font-size: 1.2rem;
}

.folderName {
    font-size: 0.8rem;
}

.myFolder .folderI {
    width: 6rem;
}

.allSoft {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
}

.bringFrontD {
    /* z-index: 5; */
}

.softCard {
    position: absolute;
    /* background: red; */
    width: 0;
    height: 0;
    transition: 0.3s top, 0.3s left, 0.3s transform;
    /* transition: 0.3s all ease-out; */
    transform: translate(-50%, -50%) scale(0);
    overflow: hidden;
    z-index: 1000;
    margin-top: 0;
    width: fit-content;
    height: fit-content;
}

.openCard {
    top: 50% !important;
    left: 50% !important;
    transform: translate(-50%, -50%) scale(1);
    width: 100%;
    height: 100%;
    pointer-events: none;
    /* z-index: 10; */
}

.c1 {
    pointer-events: all;
    overflow: auto;
    justify-content: start;
    align-items: start;
}

.closeSoft {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    padding: 0.2rem 0.4rem;
    padding-top: 0;
    font-size: 1rem;
    background: rgba(255, 255, 255, 0.158);
    color: white;
    border: none;
    outline: none;
    border-radius: 50%;
    cursor: pointer;
}

.closeSoft:hover {
    background: rgba(255, 255, 255, 0.3);
}

.softWindow {
    max-width: 90vw !important;
    max-height: 90vh !important;
    min-width: 40vw;
    min-height: 40vh;
    width: fit-content;
}

.cWork {
    transform: translateY(0);
    /* border-right: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    gap: 0.5rem;
    padding-bottom: 1rem; */
    border: 0.15rem solid var(--p5);
}

.projCard {
    /* width: ; */
    /* width: 35vw; */
}

.cSk1 {
    max-width: clamp(10rem, 40rem, 90vw) !important;
    min-height: fit-content;

}

.certBox {
    cursor: pointer;
}

.aboutMeWindow {
    min-height: 0;
}

.aboutMeD {
    font-size: 1.2rem;
    padding: 0.2rem 0.4rem;
    text-align: justify;
    text-justify: inter-word;
    width: 100%;
}

.aboutMeD p {
    width: 100%;
    text-align: justify;
    text-justify: inter-word;
}

.socialLinks{
    margin-top: 0.5rem;
    gap: 0.5rem;
    font-size: 1.5rem;
}

.projectName{
    font-size: 1.5rem;
}

.allProjects{
    gap: 1rem;
}